<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello World in Backbone.js</title>
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->
  <div id="container">Loading...</div>
  <section id="peopleapp">
    <header>
      <h1>Pessoas</h1>
      <input id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section id="main">
      <ul id="people-list"></ul>
    </section>
  </section>

  <!-- Templates -->
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%- title %></label>
      <input class="edit" value="<%- title %>">
      <button class="destroy">remove</button>
    </div>
  </script>

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="../bower_components/jquery/jquery.min.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/backbone/backbone-min.js"></script>
  <script src="../bower_components/backbone.localStorage/backbone.localstorage-min.js"></script>

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">
    // your JS code goes here

    var app = {};

    //--------------
    // Models
    //--------------
    app.People = Backbone.Model.extend({
      defaults: {
        title: '',
        completed: false
      },
      toggle: function(){
        this.save({ completed: !this.get('completed')});
      }
    });

    //--------------
    // Collections
    //--------------
    app.peopleList = Backbone.Collection.extend({
      model: app.People,
      localStorage: new Store("backbone-test")
    });

    //--------------
    // Views
    //--------------
    app.PeopleView = Backbone.View.extend({
      tagName: 'li',

      template: _.template($('#item-template').html()),

      render: function(){
        this.$el.html(this.template(this.model.toJSON()));
        this.input = this.$('.edit');
        return this; // enable chained calls
      },

      initialize: function(){
        this.model.on('change', this.render, this);
      },      

      events: {
        'dblclick label' : 'edit',
        'keypress .edit' : 'updateOnEnter',
        'blur .edit' : 'close',
        'click .toggle': 'toggleCompleted',
        'click .destroy': 'destroy'
      },

      edit: function(){
        this.$el.addClass('editing');
        this.input.focus();
      },

      close: function(){
        var value = this.input.val().trim();
        if(value) {
          this.model.save({title: value});
        }
        this.$el.removeClass('editing');
      },

      updateOnEnter: function(e){
        if(e.which == 13){
          this.close();
        }
      },

      toggleCompleted: function(){
        this.model.toggle();
      },

      destroy: function(){
        this.model.destroy();
      }      


    });

    app.AppView = Backbone.View.extend({

      el: $('#container'),

      //template: _.template('<h3>Hello <%= who %><h3>'),

      initialize: function() {
        this.render();
      },

      render: function() {
        //this.$el.html(this.template({who: 'world!'}));
        new app.PeopleView();
      }
      //el: $('#peopleapp'),



    });

    //--------------
    // Initializers
    //--------------   

    app.appView = new app.AppView();


  </script>
  
</body>
</html>
